<html>
<title>
    {% block title %} {% endblock %}
</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<script src="static/scrypt.js"> </script>

{% block scrypt %}
{% endblock %}
   <body>

{% block content %}
{% endblock %}

</body>
</html>